h1 {
    background:#fe929f;
    
}

.title-tab4 {
background-color: #c71585
;    
}

.kakomi-tab4 {
    border:2px solid #c71585;
}

.h_style_02 {
    background: #c71585;
border-left: #ea84c4 solid 7px;;
text-shadow: 0px 0px 0 #fff;
color: white;
}

.balloon22 .says_right {
background: #FCD3D1;

}

.balloon22 .says_right:after {
    border-left: 12px solid #FCD3D1;
}

.balloon22 .faceicon_right img {

    border: #ffffff;
}
.balloon44 .faceicon img {

    border:#ffffff;
}

.box6 {
background-color: #FCD3D1;

}
#second_gl {
    border: 1px solid #c71585;

}


